<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString.SQL Server (SqlClient)" value="data source=localhost;initial catalog=Agile;User ID=sa;Password=data;persist security info=False;packet size=4096"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
